@media screen and (max-width: 800px) {

  * {
    font-size: 10px;
  }

  #cloud1, #cloud2 {
    width: 70vw;
  }

  #cloud2 {
    right: 1%;
  }

  #textStart {
    font-size: 1.5rem;
  }

  header {
    nav {
      gap: 10px;
    }
  }

  #content {

    #backToTop {
      width: 15px;
      height: 15px;
    }

    #banner {
      span {
        font-size: 5vw;
      }
    }

    h2 {
      font-size: 2.5em;
      width: 85vw;
    }

    p {
      width: 85vw;
      font-size: 1.5em;
    }

    #whatWeDoImg {
      width: 85vw;
    }

    iframe {
      width: 85vw;
      height: 60vw;
    }

    #cards {

      .card {
        width: 100px;
        max-width: 150px;
        padding: 10px;

        span {
          width: 50px;
          height: 50px;
          padding-bottom: 5px;
          font-size: 3rem;
        }
        p {
          width: 100%;
          height: auto;
          margin: 0px auto;
          font-size: 3vw;
          text-align: center;
        }
      }
    }
  }

  @keyframes cloud2move {
    from {
      right: 1%;
      opacity: 1;
    }
    to {
      display: none;
      right: -65%;
      opacity: 0;
    }
  }

  @keyframes textStartGrow {
    from {
      opacity: 1;
    }
    to {
      display: none;
      width: 200%;
      opacity: 0;
      font-size: 15vw;
    }
  }
}